$main-color: #afbfab;
$border-color-base: #000;
$border-radius-base: 10px;
$border-color-modal: #b98e19;
$background-modal: #6d757c;;
$background-modal-wrapper: rgba(0, 0, 0, 0.7);
$modal-box-shadow-color: #080708;
$background-reset: rgb(187, 202, 202);
$background-modal-card: repeating-linear-gradient(45deg, #2e2d2d, #993737 100px);
$background-logo-card: #868f8f;
$placeholder-card-color: #c9aeae;
$color-text-input-card: #ffffff;
$color-title-card-block: #a13a3a;
$color-date-or-cvv: #f5efef;
$modal_width: 600px;
$modal_height: 500px;
$reset_width: 400px;
$reset_height: 50px;
