$main-color: #afbfab;
$border-color-base: #000;
$border-input-modal: #000;
$border-radius-base: 10px;
$background-modal: #474c50;
$background-modal-wrapper: rgba(0, 0, 0, 0.7);
$modal-box-shadow-color: #080708;
$background-reset: #474c50;
$background-modal-card: repeating-linear-gradient(45deg, #2e2d2d, #993737 100px);
$background-logo-card: #868f8f;
$background-button-modal: #adadad;
$background-button-modal-hover: #dfd9d9;
$background-input-form: #aaa8af;
$background-shadow-title-form: #0e0b0b;
$color-tirle-form: #bfbfbf;
$color-placeholder-form: #00000082;
$placeholder-card-color: #c9aeae;
$color-text-input-card: #ffffff;
$color-title-card-block: #a13a3a;
$color-date-or-cvv: #f5efef;
$color-invalid: red;
$color-reset-content: #bdbdbd;
$block-dark-color: #181a1c;
$block-dark-semitransparent-color: rgba(24, 26, 28, 0.8);
$block-dark-transparent-color: rgba(24, 26, 28, 0.5);
$block-yellowgray-color: rgba(76, 74, 65, 0.4);
$block-gray-transparent-color: #1e1b1b80;
$block-brown-color: #4d2f14f2;

$button-dark-color: #181a1c;
$button-red-color: #9a3535;
$button-brown-color: #9f581af2;

$font-color: orange;
$font-secondary-color: wheat;
$font-additional-color: #bb954e;

$border-color-base: orange;
$border-color-selected: rgb(235, 68, 68);

$border-radius-base: 10px;
$border-color-modal: red;

$background-modal-wrapper: rgba(0, 0, 0, 0.7);
$background-reset: rgb(187, 202, 202);

$modal_width: 600px;
$modal_height: 500px;
$reset_width: 400px;
$reset_height: 80px;
