.details-cart {
  @include flex-position-base;
  flex-direction: column;
  gap: 20px;

  &__price {
    font-size: 50px;
    color: $font-color;
  }

  &__button {
    width: 100%;
    height: 40px;

    border-radius: $border-radius-base;
  }
}
