.product-info {
  @include flex-position-base;
  flex-direction: column;
  gap: 5px;

  &__container {
    width: 100%;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
  }

  &__title {
    @include flex-position-base;
    text-align: center;
    border-bottom: 1px solid $border-color-base;
    font-size: 20px;
  }

  &__info {
    @include flex-position-base;
    text-align: center;
    padding: 3px 5px 3px 5px;
    font-size: 18px;
  }
}
