@import './cartSummary.scss';
@import './cartHeader.scss';
@import './cartProduct.scss';

.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 15px;
  border: 1px solid orange;
  height: fit-content;
}
