.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-head {
  &__title {

  }
}

.summary-product {
  display: flex;

  &__title {

  }

  &__count {

  }
}

.summary-total {
  display: flex;

  &__title {

  }

  &__count {

  }
}

.summary-input {

}

.summary-button {
  &__span {

  }
}
