.cart-header {
  display: flex;
  justify-content: space-around;
  &__title {

  }
}

.block-item {
  display: flex;
  &__item {

  }

  &__count {

  }
}

.block-pagination {
  display: flex;
  &__page {

  }

  &__btn-left {

  }

  &__number {

  }

  &__btn-right {

  }
}
