.header {
  height: 80px;
  border: 1px solid #000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100%;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.cart__description {
  display: flex;
  flex-direction: column;
}
