.header {
  height: 80px;
  border: 1px solid $border-color-base;

  &__wrapper {
    @include flex-position-base-justify-beetwen;
    padding: 0 10px;
    height: 100%;
  }
}

.cart-block {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.cart__description {
  display: flex;
  flex-direction: column;
}
