.wrapper-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-modal-wrapper;
  z-index: 12;
}

.modal-form {
  width: $modal_width;
  height: $modal_height;
  display: flex;
  justify-content: center;
  border: 3px solid $border-color-modal;
  position: absolute;
  top: calc(50% - ($modal_height / 2));
  left: calc(50% - ($modal_width / 2));
  padding: 10px;
  background: $background-modal;
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px $modal-box-shadow-color;
}

.wrapper-reset {
  width: $reset_width;
  height: $reset_height;
  position: absolute;
  top: calc(50% - ($reset_height / 2));
  left: calc(50% - ($reset_width / 2));
  background: $background-reset;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wrapper-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &__title {
    color: $color-title-card-block;
    text-shadow: 1px 1px 1px $border-color-base;
  }
  &__button {
    width: 130px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: $background-button-modal;
    box-shadow: inset 0px 0px 6px 2px $border-color-base;
    transition: all 0.3s linear;
    &:hover {
      cursor: pointer;
      background: $background-button-modal-hover;
      transition: all 0.3s linear;
    }
  }
}

.card-logo {
  width: 100px;
  height: 50px;
  background-color: $background-logo-card;
  box-shadow: 0px 0px 9px 0px $border-color-base;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 230px;
  height: 100px;
  background: $background-modal-card;
  box-shadow: 0px 1px 0px 2px $border-color-base;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 10px;
  &__number {
    width: 180px;
    @include input-card;
    padding-top: 1px;
    &::placeholder {
      @include placeholder-card-input;
    }
  }
}

.block-date-or-cvv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block-date {
  display: flex;
  align-items: center;
  gap: 5px;
  &__input {
    width: 50px;
    @include input-card;
    &::placeholder {
      @include placeholder-card-input;
    }
  }
  &__title {
    @include cvv-or-date;
  }
}

.block-cvv {
  display: flex;
  align-items: center;
  gap: 5px;
  &__input {
    width: 50px;
    @include input-card;
    &::placeholder {
      @include placeholder-card-input;
    }
  }
  &__title {
    @include cvv-or-date;
  }
}

.valid {
  border: 10px solid green;
}

.invalid {
  border: 3px solid red;
}

.form__label-card {
  display: flex;
  gap: 5px;
  align-items: center;
}
