.footer {
  height: 70px;
  border: 1px solid #000;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-left: auto;
}

.link-git__image {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/svg/github-mark.svg');
  @include back-image;

  &:hover {
    filter: contrast(0.5);
    transition: ease 0.3s all;
  }
}

.link-git__image-one {
  width: 50px;
  height: 50px;
  background-image: url('../../assets/svg/github-mark-white.svg');
  @include back-image;

  &:hover {
    filter: sepia(0.5);
    transition: ease 0.3s all;
  }
}

.rs-school-logo {
  width: 100px;
  height: 50px;
  background-image: url('../../assets/svg/rs_school_js.svg');
  @include back-image;
  filter: drop-shadow(2px 4px 6px black);

  &:hover {
    filter: drop-shadow(2px 4px 6px black) contrast(0.8);
    transition: ease 0.3s all;
  }
}

.link-rs {
  margin-left: auto;
  height: 50px;
}
