@import 'normalize.css';
@import './scss/utils/mixins';
@import './scss/utils/variables';
@import './scss/header/header';
@import './scss/main/main';
@import './scss/footer/footer';
@import './scss/main/productsPage/productsPage';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $main-color;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
